USE [master]
GO
/****** Object:  Database [EShop_New]    Script Date: 9/26/2023 11:08:34 AM ******/
CREATE DATABASE [EShop_New]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EShop_New', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EShop_New.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EShop_New_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EShop_New_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EShop_New].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EShop_New]
GO
/****** Object:  UserDefinedTableType [dbo].[PurchaseItemTableType]    Script Date: 9/26/2023 11:08:34 AM ******/
CREATE TYPE [dbo].[PurchaseItemTableType] AS TABLE(
	[ProductId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [numeric](18, 2) NULL,
	[IsLoyaltyMemberShip] [bit] NULL
)
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 9/26/2023 11:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[Discount] [numeric](18, 2) NULL,
	[TotalAmount] [numeric](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[IsLoyaltyMemberShip] [bit] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/26/2023 11:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerNumber] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[IsLoyaltyMembership] [bit] NULL,
	[IsActive] [bit] NULL,
	[MemberShipStartDate] [datetime] NULL,
	[MemberShipEndDate] [datetime] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 9/26/2023 11:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](255) NULL,
	[CustomerId] [int] NULL,
	[TotalAmount] [numeric](18, 2) NULL,
	[TransactionDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ShipId] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 9/26/2023 11:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[DiscountAmount] [numeric](18, 2) NULL,
	[NetAmount] [numeric](18, 2) NULL,
	[TransactionDate] [datetime] NULL,
	[IsMembership] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/26/2023 11:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [numeric](18, 2) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingDetail]    Script Date: 9/26/2023 11:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingDetail](
	[ShippingId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[AddressLine1] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[ZipCode] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ShippingDetail] PRIMARY KEY CLUSTERED 
(
	[ShippingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartId], [CustomerId], [ProductId], [Quantity], [Discount], [TotalAmount], [CreatedDate], [IsLoyaltyMemberShip]) VALUES (40, 1, 1, 1, CAST(0.00 AS Numeric(18, 2)), CAST(19.99 AS Numeric(18, 2)), CAST(N'2023-09-26T04:50:14.013' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [CustomerNumber], [Name], [IsLoyaltyMembership], [IsActive], [MemberShipStartDate], [MemberShipEndDate]) VALUES (1, N'CUST001', N'John Doe', 1, 1, CAST(N'2023-09-26T04:21:25.043' AS DateTime), CAST(N'2023-10-26T04:21:25.043' AS DateTime))
INSERT [dbo].[Customer] ([CustomerId], [CustomerNumber], [Name], [IsLoyaltyMembership], [IsActive], [MemberShipStartDate], [MemberShipEndDate]) VALUES (2, N'CUST002', N'Jane Smith', 0, 1, NULL, NULL)
INSERT [dbo].[Customer] ([CustomerId], [CustomerNumber], [Name], [IsLoyaltyMembership], [IsActive], [MemberShipStartDate], [MemberShipEndDate]) VALUES (3, N'CUST003', N'Bob Johnson', 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [OrderNumber], [CustomerId], [TotalAmount], [TransactionDate], [IsActive], [ShipId]) VALUES (33, N'PO33', 1, CAST(20.99 AS Numeric(18, 2)), CAST(N'2023-09-26T04:21:25.043' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [DiscountAmount], [NetAmount], [TransactionDate], [IsMembership], [IsActive]) VALUES (43, 33, 1, 1, CAST(0.00 AS Numeric(18, 2)), CAST(15.99 AS Numeric(18, 2)), CAST(N'2023-09-26T04:21:03.270' AS DateTime), 0, 1)
INSERT [dbo].[OrderDetail] ([OrderDetailId], [OrderId], [ProductId], [Quantity], [DiscountAmount], [NetAmount], [TransactionDate], [IsMembership], [IsActive]) VALUES (44, 33, 3, 1, CAST(0.00 AS Numeric(18, 2)), CAST(5.00 AS Numeric(18, 2)), CAST(N'2023-09-26T09:51:25.047' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Name], [Price], [IsActive]) VALUES (1, N'Product 1', CAST(19.99 AS Numeric(18, 2)), 1)
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [IsActive]) VALUES (2, N'Product 2', CAST(29.99 AS Numeric(18, 2)), 1)
INSERT [dbo].[Product] ([ProductId], [Name], [Price], [IsActive]) VALUES (3, N'Product 3', CAST(5.00 AS Numeric(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingDetail] ON 

INSERT [dbo].[ShippingDetail] ([ShippingId], [CustomerId], [AddressLine1], [AddressLine2], [City], [Country], [ZipCode], [IsActive]) VALUES (1, 1, N'addressline1', N'addressline2', N'city', N'country', N'zipCode', 1)
INSERT [dbo].[ShippingDetail] ([ShippingId], [CustomerId], [AddressLine1], [AddressLine2], [City], [Country], [ZipCode], [IsActive]) VALUES (2, 1, N'addressLine1', N'addressLine2', N'city', N'country', N'zipCode', 1)
INSERT [dbo].[ShippingDetail] ([ShippingId], [CustomerId], [AddressLine1], [AddressLine2], [City], [Country], [ZipCode], [IsActive]) VALUES (3, 1, N'addressLine1', N'addressLine2', N'city', N'country', N'zipCode', 1)
SET IDENTITY_INSERT [dbo].[ShippingDetail] OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[ShippingDetail]  WITH CHECK ADD  CONSTRAINT [FK_ShippingDetail_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[ShippingDetail] CHECK CONSTRAINT [FK_ShippingDetail_Customer]
GO
/****** Object:  StoredProcedure [dbo].[CreatePurchaseOrder]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreatePurchaseOrder]
(
    @CustomerId INT,
	@ShipId int,
	@IncludeLoyaltyMembership bit
)
AS
BEGIN
    Declare @OrderId int

if exists( select * from Customer where IsLoyaltyMemberShip=1 and CustomerId=@CustomerId)
 begin
Begin try
begin transaction
	 Declare @LoyalCustomber bit
	
	if(@IncludeLoyaltyMembership=1)
	begin
	update Customer set IsLoyaltyMembership=@IncludeLoyaltyMembership, MemberShipStartDate=GETUTCDATE(),MemberShipEndDate=GETUTCDATE()+30 where CustomerId=@CustomerId
	end

	if (Exists(select * from customer where customerid=@CustomerId and IsLoyaltyMembership=1 and MemberShipEndDate>=GETUTCDATE()))
	begin
	 set @LoyalCustomber=1;
	end

     
	Insert into [dbo].[Order] 
			(
			ShipId,
			IsActive,
			TransactionDate,
			CustomerId,
			TotalAmount)
			select 
			@ShipId,
			1,
			GETUTCDATE(),
			CustomerId,
			(select  sum(c.Quantity * (Price * (CASE WHEN @LoyalCustomber=1 THEN 0.80 ELSE 1 END))) 
			from Cart c inner join [dbo].[Product] p on 
			c.ProductId=p.ProductId 
			where c.CustomerId=@CustomerId 
			and c.IsLoyaltyMemberShip=0)
	        from Cart where CustomerId=@CustomerId
	set @OrderId=SCOPE_IDENTITY()
	

	if(@IncludeLoyaltyMembership=1)
	begin
	Update [dbo].[Order] set TotalAmount=TotalAmount+5 where OrderId=@OrderId
	end
	
	Update [Order] set OrderNumber= 'PO'+CAST(@OrderId as varchar(10)) where OrderId=@OrderId

	Insert into OrderDetail (OrderId,ProductId,Quantity,DiscountAmount,NetAmount,TransactionDate,IsActive,IsMembership)
	select @OrderId, p.ProductId,Quantity,Discount,(c.Quantity * (Price * (case when @LoyalCustomber=1 then 0.80 else 1 end))),CreatedDate,1,c.IsLoyaltyMemberShip from Cart c 
	         inner join [dbo].[Product] p on c.ProductId=p.ProductId where CustomerId=@CustomerId and c.IsLoyaltyMemberShip=0
	
	if(@IncludeLoyaltyMembership=1)
	begin
	Insert into OrderDetail (OrderId,ProductId,Quantity,DiscountAmount,NetAmount,TransactionDate,IsActive,IsMembership)
	select @OrderId,p.[ProductId],1,0,p.price,GETDATE(),1,1 from   
	          [dbo].[Product] p where p.[ProductId]=3  
	end

	 delete from Cart where CustomerId=@CustomerId

	select @OrderId
     commit transaction
	end try
	begin catch
	rollback transaction
	SET @OrderId = -1; -- Set to -1 to indicate an error
    select @OrderId
	end catch
END
 
 End
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProducts]
AS
BEGIN
    SELECT ProductId, Name, Price, IsActive
    FROM Product;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCartsDetailByCustomerId]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetCartsDetailByCustomerId]
    @CustomerId int
AS
BEGIN
    SELECT 
        CartId,
        CustomerId,
        ProductId,
        Quantity,
        Discount,
        TotalAmount,
        CreatedDate
    FROM Cart -- Replace with the actual table name where the data is stored
    WHERE CustomerId = @CustomerId;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerById]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerById]
(
    @CustomerId INT
)
AS
BEGIN
		SELECT 
		CustomerNumber,
		Name,
		IsLoyaltyMembership,
		IsActive,
		MemberShipStartDate,
		MemberShipEndDate
		FROM Customer
		WHERE CustomerId = @CustomerId;
     
END 
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerShippingInfo]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCustomerShippingInfo]
    @CustomerId INT
AS
BEGIN
     IF EXISTS (SELECT 1 FROM dbo.ShippingDetail WHERE CustomerId = @CustomerId)
    BEGIN
        -- If the customer exists, select the shipping information
        SELECT CustomerId, ShippingId, AddressLine1, AddressLine2, City, Country, ZipCode, IsActive
        FROM dbo.ShippingDetail
        WHERE CustomerId = @CustomerId;
    END
    ELSE
    BEGIN
        -- If the customer does not exist, you can handle it here (e.g., return an error message)
        PRINT 'Customer does not exist.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersById]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 


CREATE PROCEDURE [dbo].[GetOrdersById]
    @Id INT
AS
BEGIN
    SELECT 
   p.Name as ProductName,
   c.Name as CustomerName,
	od.Quantity,
	o.TotalAmount,
	o.TransactionDate

    FROM [dbo].[Order] o left join  OrderDetail od on o.OrderId = od.OrderId 
	left join Customer c on c.CustomerId=o.CustomerId
	left  join dbo.ShippingDetail sd on o.ShipId= sd.ShippingId 
	left join Product p on p.ProductId=od.ProductId
    WHERE o.OrderId= @Id and od.IsMembership=0
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCustomerShippingAddress]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCustomerShippingAddress]  
(  
    @CustomerId INT,  
    @AddressLine1 NVARCHAR(255),  
    @AddressLine2 NVARCHAR(255),  
    @City NVARCHAR(255),  
    @Country NVARCHAR(255),  
    @ZipCode NVARCHAR(255)  
       
)  
AS  
BEGIN  
    INSERT INTO [dbo].[ShippingDetail]  
    (  
        CustomerId,  
        [AddressLine1],  
        [AddressLine2],  
        City,  
        Country,  
        ZipCode,  
        IsActive  
    )  
    VALUES  
    (  
        @CustomerId,  
        @AddressLine1,  
        @AddressLine2,  
        @City,  
        @Country,  
        @ZipCode,  
        1  
    ) 
	
	select SCOPE_IDENTITY()
END  
GO
/****** Object:  StoredProcedure [dbo].[InsertProductInCart]    Script Date: 9/26/2023 11:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[InsertProductInCart]
    @CustomerId int,
    @Items dbo.[PurchaseItemTableType] READONLY  
AS
BEGIN
	  DECLARE @PurchaseRequestId INT


   Begin try
 begin transaction
      
   
    INSERT INTO dbo.cart(Customerid,ProductId,Quantity ,Discount,CreatedDate,TotalAmount,IsLoyaltyMemberShip)
    SELECT @CustomerId,i.ProductId,i.[Quantity],i.Discount, getutcdate(),(i.Quantity*p.Price),i.IsLoyaltyMemberShip
    FROM @Items i inner join Product p on i.ProductId=p.ProductId
  	commit transaction
	SET @PurchaseRequestId =  SCOPE_IDENTITY()
    select @PurchaseRequestId
	
    end try
	begin catch
	rollback transaction
SET @PurchaseRequestId = -1; -- Set to -1 to indicate an error

	end catch
	 
END
GO
USE [master]
GO
